@charset "UTF-8";
@import "./properties.scss";

* {
  margin: 0;
  padding: 0;
}

#app {
  margin: 0;
  padding: 0;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-4;

  position: relative;
  height: 100vh;
  
  background-color: $color-1;
}

#nav {
  margin: 0;
  padding: 0;
  height: 80px;
  outline: none;
  background-color: $color-2;
  

  .nav-list {
    display: flex;
    justify-content: flex-end;
    
    a {
      margin: 0;
      padding: 10px;
      font-weight: bold;
      color: $color-4;
      text-decoration: none;
    }
  
    a.router-link-exact-active {
      color: $color-3;
    }
  }
}

#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
}