@charset "UTF-8";
@import "./properties.scss";



.login-page {    
    background-image: url("../img/login-background.jpg");
    height: 100%;
    
    input [type = "text"] {
        margin: 0;
        padding: 0;
    }
}